<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDGT</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>

<body class="{{#if welcomeAnimation}}welcome{{/if}}">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

<div class="main-body">
  {{!-- Nav Bar --}}
    <header class="navbar-fixed">
      <nav class="row grey darken-3">
        <div class="col s12">
          <ul class="right">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/bdgt">BDGT</a></li>
            {{#if notLoggedIn}}
            <li><a href="/login">Login</a></li>
            {{else}}
            <li><a href="/logout">Logout</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    {{!-- End of Nav Bar --}}

    <div class="container grey-text text-lighten-1 main-container">
      {{{body}}}
    </div>

    <footer class="page-footer black">
      <div class="footer-copyright black">
        <div class="container">2023&copy; NERD HERD</div>
      </div>
    </footer>

</div>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="./scripts.js"></script>
</body>
</html>