<h1 class="title grey-text text-lighten-3">About us:</h1>
<p>We are a small diverse team from different backgrounds collaborating while learning how to work together to create a full stack application. We are called: <b>"The Nerd Herd".</b></p>
<p>This application was created by Oliver Martin fka Genesis Gregorio, Amanda Pietsch, Bryan Smith, and Justin Bong.</p>

<ul class="collection">
    <li class="collection-item avatar">
      <img src="/assets/images/oliver.jpg" alt="Oliver Martin" class="circle">
      <span class="title">Oliver Martin (Genesis Gregorio)</span>
      <p>
        <em>GitHub@theurbanspectacle</em><br>
        <a href="https://www.theurbanspectacle.com" target="_blank">THEURBANSPECTACLE//PORTFOLIO</a>
      </p>
      <a href="https://github.com/theurbanspectacle" target="_blank" class="secondary-content"><i class="material-icons">launch</i></a>
    </li>

    <li class="collection-item avatar">
      <img src="/assets/images/amanda.jpg" alt="Amanda Pietsch" class="circle">
      <span class="title">Amanda Pietsch</span>
      <p>
        <em>GitHub@apietsch4117</em>
      </p>
      <a href="https://github.com/apietsch4117" target="_blank" class="secondary-content"><i class="material-icons">launch</i></a>
    </li>

    <li class="collection-item avatar">
      <img src="/assets/images/bryan.jpg" alt="Bryan Smith" class="circle">
      <span class="title">Bryan Smith</span>
      <p>
        <em>GitHub@asmitbry17</em>
      </p>
      <a href="https://github.com/smitbry17" target="_blank" class="secondary-content"><i class="material-icons">launch</i></a>
    </li>

    <li class="collection-item avatar">
      <img src="/assets/images/justin.jpg" alt="Justin Bong" class="circle">
      <span class="title">Justin Bong</span>
      <p>
        <em>GitHub@justinhwbhang</em>
      </p>
      <a href="https://github.com/justinhwbhang" target="_blank" class="secondary-content"><i class="material-icons">launch</i></a>
    </li>
</ul>
