<h1 class="title grey-text text-lighten-3">About us:</h1>
<p>We are a small diverse team from different backgrounds collaborating while learning how to work together to create a full stack application. We are called: <b>"The Nerd Herd".</b></p>
<p>This application was created by Oliver Martin fka Genesis Gregorio, Amanda Pietsch, Bryan Smith, and Justin Bong.</p>

<ul>
    <li><a href="github.com/theurbanspectacle">Oliver Martin</a></li>
    <li><a href="https://github.com/apietsch4117">Amanda Pietsch</a></li>
    <li><a href="https://github.com/smitbry17">Bryan Smith</a></li>
    <li><a href="justinhwbhang">Justin Bong</a></li>
</ul>