<p class="flow-text">Welcome to</p>
<h1 class="title grey-text text-lighten-3">BDGT</h1>
<blockquote class="flow-text">A budgeting app to help you make responsible financial decisions.</blockquote>
<div class="center-align">
    <button onclick="signUp()" class="btn waves-effect waves-light" type="button">Sign Up
    <i class="material-icons right"></i>
    </button>

    <button class="btn waves-effect waves-light" onclick="aboutUs()"type="button">About Us
    <i class="material-icons right"></i>
    </button>
</div>
