body {
    height: 100vh;
    flex-direction: column;
    background: #262626;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  h1.title,
  .footer-copyright a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    color: white;
  }

  .collection .collection-item {
    background-color: unset;
  }

  .navbar-fixed {
    min-height: 64px;
    display: block;
  }

  .main-container {
    max-height: calc(100vh - 134px);
    overflow-y: auto;
    padding-bottom: 50px;
    flex: 1;
  }

  .main-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.home-page-wrapper {
  margin-top: calc(50vh - 205px);
}

blockquote {
  border-color: #b39ddb;
}

  /* start welcome animation */
  .welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid #262626;
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
  
  .welcome #welcome {
    background: #958AA6 ;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
  }
  
  /* moveIn */
  .welcome header,
  .welcome .btn {
    opacity: 0;
    animation: moveIn 2s 3.1s ease forwards;
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes borderRadius {
    0% {
      border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #958AA6;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #404040;
    }
  }
  
  @keyframes materia {
    0% {
      background: #202020;
    }
    50% {
      background: #232323;
      top: 26px;
    }
    100% {
      background: #262626;
      width: 100%;
      height: 64px;
      border-radius: 0px;
      top: 26px;
    }
  }
  
  @keyframes moveIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* BDGT styling */
  .bdgt-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .total-chart {
    height: 140px;
    width: 100%;
  }

  .donut-chart-header {
    margin-top: 64px;
    text-align: center;
  }

  .donut-chart {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .donut-chart canvas {
    width: 400px !important;
    height: 400px !important;
  }

  .table-header {
    margin-top: 64px;
    text-align: center;
  }

  .transactions .btn {
    width: 50px;
    text-align: center;
  }

  table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(19, 19, 19 ,0.5);
  }
